
  @import url('https://fonts.googleapis.com/css2?family=Jua&family=Poor+Story&family=Sedgwick+Ave+Display&display=swap');

body {
font-family: 'Sedgwick Ave Display', cursive;
margin: 0;
}
header {
    color: #fff;
    background-image: url(./img/img_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(560px, 1fr));
    align-items: center;
    height: 400px;
    background-position: center;
}
h1 {
    font-size: 4rem;
    padding-left: 50px;
    margin-bottom: 0;
    margin-top: 0;
}
.h-d {
    width: 100%;
}
.h-p {
    font-size: 1.5rem;
    margin: 50px;
    margin-top: 0;
}
.h-a { 
    margin-left: 50px;
}
a {
    text-decoration: none;
    font-size: 1.0rem;
    text-align: center;
    line-height: 1.0rem;
    color: #fff;
    background-color: rgb(255, 196, 0);
    padding: 10px;
    border-radius: 8px 8px 8px 8px;
    height: 50%;
}
a:hover {
    opacity: 0.6;
    transition-delay: 0.5s;
}
.f-p {
    color: #fff;
    font-size: 0.75rem;
    background-color: #333;
    position: fixed;
    bottom: 0;
    text-align: center;
    justify-content: center;
    width: 100%;
    line-height: 30px;
    height: 30px;
    margin: 0px;
}
figure, figcaption {
    margin: 10px;
    padding: 0;
}
h3 {
    margin: 0;
}
p {
    margin: 20px;
    padding-right: 10px;
    padding-left: 10px;
}
main {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 10px;
}
article {
    height: 100%;
    border : 1px solid #E2E2E2;
    display: grid;
    border-radius: 8px 8px 8px 8px;
}
img {
    width: 100%;
}
h3 {
    background-color: rgb(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
figure {
    position: relative;
}
figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}
 @media screen and (max-width: 560px) {
   main {
    grid-template-columns: 1fr;
 }
}
 @media screen and (min-width: 560px) {
   main {
    grid-template-columns: 1fr 1fr;
 }
}
 @media screen and (min-width: 800px) {
   main {
    grid-template-columns: 1fr 1fr 1fr;
 }
}
 @media screen and (min-width: 1050px) {
   main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
 }
}
 @media screen and (min-width: 1300px) {
   main {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 }
}
