body {
    background-image: url(../Img/cat.jpg);
    background-size: cover;
}
.div-img {
    border: 1px solid #000;
    background-image: url(../Img/cat.jpg), url(../Img/dog.png);
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 10% left 20%;

    overflow: scroll;
}