ul {
    list-style-type: none;
    /* display: flex;*/
} 
.li {
    display: inline-block;
    border: none;
    background-color: grey;
    padding: 40px;
    margin: -3px;
    /* margin-right: -6px; */
}

/* 
[display 속성]
- inline : 대표적으로 <span>이라는 태그의 성질로 content/text 크기만큼만 점유하고 동일 라인에 붙는 성질입니다.
text내에 특정 부분에만 스타일을 간단히 줄 때 많이 사용합니다.
단, width/height, margin/padding-top/bottom, line-height 원하는 대로 적용 불가능합니다.
- block : 무조건 한줄을 점유하고 다음 태그는 다음 줄로 갑니다.
- inline-block : 성질 자체는 inline과 비슷하며 inline의 단점을 보완합니다.
width/height, margin/padding-top/bottom, line-height 적용 가능합니다.

디테일한 보정이 필요할 때는 inline-block를 사용하면 되고 
따로 div 등에 display: inline-block 속성 코드를 타이핑하여 여타 속성을 신경써줘야 합니다. 
*/
