* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div {
    text-align: center;
}
.cat-1 {
    background: url(../Img/cat.jpg) no-repeat center;
    background-size: cover;
    width: 800px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}
.cat-2 {
    position: absolute;
    right: 0px;
    bottom: 0px;
}
img {
    border: 1px solid #ccc;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    box-shadow: 5px 5px 30px 2px #000;
}
