* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.cat-1 {
    background: url(../Img/cat.jpg) no-repeat center;
    background-size: cover;
    width: 800px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}
.cat-2 {
    position: absolute;
    right: 0px;
    bottom: 0px;
}
img {
    border: 1px solid #ccc;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    box-shadow: 5px 5px 30px 2px #000;
}
section {
    width: 800px;
    height: 500px;
    border: 100%;
}
article {
    float: left;
    width: 350px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px dotted #ccc;
}
footer {
    clear: both;
    background-color: #000;
    color: #ccc;
    text-align: center;
    height: 50px;
    line-height: 50px;
}