/* flexboxFroggy 게임 */
.container {
    background-color: lightblue;
    width: 500px;
    height: 500px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    box-sizing: border-box;
    
}
.item {
    background-color: antiquewhite;
    border: 1px solid #000;
    width: 49%;
    height: 32%;
}
/* 5, 6의 부모요소 */
.item-box {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.row-1 {
    width: 99%;
    
}
.col-2 {
    height: 47%;
}
