@font-face {
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
	font-family: 'omyu_pretty';
    font-weight: normal;
    font-style: normal;
}

* {
	box-sizing: border-box;
	font-family: 'omyu_pretty';
}

body {
	margin: 0;
	padding: 0;
	background-image: url(/mini_board/src/img/cat.png);
	background-size: cover;
	background-repeat: no-repeat;
	/* background-position: 0 100px; */
}
header {
	width: 100%;
	background-color: #e2acee;	
	padding:2rem;
}
header > h1 {
	margin: 0;
	color: #fff;
	text-align: center;
	font-size: 4rem;
}
header h1 a:visited{
	color:#fff;
}
table {
	border-collapse: collapse;
	width: 700px;
	height: 500px;
	margin: 50px auto;
	font-size: 1.5rem;
}
td { 
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	text-align: center;
	color: #000;
}
.table-title {
	border: none;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
}
section {
	text-align: center;
}
a {
	text-decoration: none;
	display: inline-block;
}
.page-btn {
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: #272727;
	color: #fff;
	border-radius: 50px;
}
.bk-a {
	background-color: #dd66f8;
}
.write-btn {
	width: 80px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: #272727;
	color: #fff;
	border-radius: 30px;
}